[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pprint = "*"
ipython = "*"
ipykernel = "*"

[packages]
requests = "*"
bs4 = "*"
wget = "*"
nltk = "*"
gensim = "*"
pandas = "*"
numpy = "*"
deep_translator = "*"
langdetect = "*"
matplotlib = "*"
pyLDAvis = "*"
wordcloud = "*"
pdfplumber = "*"

[requires]
python_version = "3.9"

